{% extends 'layout.twig' %}

{% block content %}
    <div id="main" role="main" class="col-center">
        <h1>{{ 'Login'|trans }}</h1>
        {% if error %}
            <div class="alert alert-error">
                {{ error }}
            </div>
        {% endif %}

        <form action="{{ path('admin_login_check') }}" method="post" novalidate {{ form_enctype(form) }} class="form-vertical">
            {% embed 'Layout/form_layout.twig' %}
                {% block form %}
                    {{ form_start(form) }}
                    {% form_theme form 'Layout/form_theme.twig' %}
                    {{ form_widget(form) }}
                {% endblock %}
            {% endembed %}
        </form>
    </div>
{% endblock %}
