{% extends 'layout.twig' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
    <div class="col-center">
        <h1>Blog</h1>
        <a class="" href="{{ path('blog.article.create')}}" >+Article</a>
        <a class="" href="{{ path('blog.category.create')}}" >+Category</a>
        {% for article in articles %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <a class="" href="{{ path('blog.article.show', {id: article.id}) }}" >show</a>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}