{% extends 'layout.twig' %}
{% set active = 'blog' %}
{% block metaTitleContent %}Test d'embauche{% endblock %}
{% block h1Content %}Test d'embauche{% endblock %}
{% block content %}
<div class="container">
    <div class="col-center">
        <h1>Blog</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="" href="{{ path('blog.article.add')}}" >+Article</a>
            <a class="" href="{{ path('blog.category.add')}}" >+Category</a>
        {% endif %}
        {% for article in articles %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>{{ article.title }}</h2>
                    <div class="col-md-4 col-md-offset-4">
                        <a class="" href="{{ path('blog.article.show', {id: article.id}) }}" >Voir</a>
                        <a class="" href="{{ path('blog.article.edit', {id: article.id}) }}" >Editer</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="" href="{{ path('blog.article.delete', {id: article.id})}}" >-Article</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                    <i class="fa fa-bookmark"></i> <a class="" href="{{ path('blog.category.show',{id: article.category_id.id}) }} )}}" >{{ article.category_id.name }}</a>
                    </div>
                <hr/>
                <p>{{ article.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}