<div class="col-center">
    <a href="{{ path('homepage') }}" class="header-h1">
        <h1>Loprumlpsum</h1>
    </a>
        <img src="/img/frise.png" class="img-responsive frise" alt=""/>
    <nav class="text-center">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('infopage') }}">Info</a></li>
                <li><a href="{{ path('blogpage') }}">Blog</a></li>
                <li><a href="{{ path('workpage') }}">Réalisations</a></li>
                <li><a href="{{ path('contactpage') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>
